@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Permanent+Marker');


.titleH1 {
    font-family: 'Homemade Apple', cursive;
    font-size: 40px;
    font-kerning: normal;
}

.myCanvas {
    border: 1px solid black;
}

.drawhere {
    width: 300px;
}

.canvasOut {
    display: none;
}

.button {
    font-size: 14px;
    display: inline-block;
    width: 50px;
    margin: 5px 5px;
    padding: 15px 25px;
    cursor: default;
    text-align: center;
    color: white;
    border: none;
    border-radius: 8%;
    background-color: #4caf50;
}
